*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

.container {
  max-width: 1296px;
  /*1920-312-312 */
  width: 100%;
  margin: 0 auto;
}

.width-856 {
  max-width: 856px;
  width: 100%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

/* h1-h6 */
.h1 {
  font-size: 40px;
  line-height: 1.2;
}

.h2 {
  font-size: 32px;
  line-height: 1.2;
}

.h3 {
  font-size: 28px;
  line-height: 1.2;
}

.h4 {
  font-size: 24px;
  line-height: 1.2;
}

.h5 {
  font-size: 20px;
  line-height: 1.2;
}

.h6 {
  font-size: 16px;
  line-height: 1.2;
}

/* margin-right 設定 */
.mr-4 {
  margin-right: 10px;
}

.mr-8 {
  margin-right: 8px;
}

/* margin-bottom 設定 */
.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-48 {
  margin-bottom: 64px;
}

.mb-64 {
  margin-bottom: 64px;
}

/* padding-bottom 設定 */
.pd-48 {
  padding-bottom: 48px;
}

/* padding 設定：上下都有 */
.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}
.py-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}
